<html>
    <head>
        <title>
            About Us
        </title>
        
        
        <link rel="stylesheet" href="/css/main.css">
        
    </head>
    <body>
            <%- include header.ejs %>
        About Us
        <link rel="stylesheet" href="/css/main.css">    
        
        <body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 800px">
    </body>
</html>