<%- include header_admin.ejs %>
<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/main.css">

<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 600px"></body>
<div class="container" >    
        <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                        <br/>   
                        <br/>
                        <br/>   
                        <br/>
                        <form method="post" action="/adminrooms"> 
                        <select class="selectpicker" data-style="btn-primary" name="selectbuilding" >
                          <option name="" value="0">Select Option</option>
                          <option name="hp" value="111">Hudson/Perrin</option>
                          <option name="tl" value="222">Traditional Living</option>
                          <option name="ms" value="333">Modified Suites</option>
                          <option name="ts" value="444">Tower Suites</option>
                        </select>
                        <br/>    
                        <br/>   
                            Enter new room number:
                            <input type="text" name="roomnumber">
                            <br/>
                            <br/>
                        <button type="submit" onclick="addrooms()" class="btn btn-primary">Add Room</button>
                        </form>
                      </div>
                <div class="col-sm-3">
                    <br/>   
                    <br/>
                    <br/>   
                    <br/>
                    <select class="selectpicker" data-style="btn-primary" name="selectbuilding" >
                      <option name="" value="0">Select Option</option>
                      <option name="hp" value="111">Hudson/Perrin</option>
                      <option name="tl" value="222">Traditional Living</option>
                      <option name="ms" value="333">Modified Suites</option>
                      <option name="ts" value="444">Tower Suites</option>
                    </select>
                   
                  </br>
                              <form method="get" action="/adminrooms">
                                Description:
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                <br/>
                            
                            
                        <button type="submit" onclick="myFunction()" class="btn btn-primary">Update</button>
                                </form>
                </div>
   
                <div class="col-sm-3">
                </div>
              </div> 
            </br>
        </br>
    </br>
</br>
</br>
<script>
  function myFunction() {
      alert("Updated details successfully!!");
  }
  function addrooms() {
      alert("Added new rooms successfully!!");
  }
  </script>   
 


</html>
