<%- include header_admin.ejs %>
<html>
<link rel="stylesheet" href="/css/main.css">
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 600px"></body>

<div class="container">    
        <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <br/>   
                        <br/>
                        <br/>   
                        <br/>
                        <form method="post" action="/adminmodify">
                          <div class="form-group">
                            <label for="firstname">Enter 919 number:</label>
                            <input type="text" class="form-control" name="nin_number">
                          </br>
                          <button type="submit" class="btn btn-primary">Search</button>
                      </div>
                    </form> 
                      <label> SID: <%= student_nin %></label></br>
                       <label>  Student Name: <%= studentname %></label><br/>
                       <label>  Phone Number: <%= student_phone %></label><br/>
                       <label>  Student Email: <%= student_email %></label>
                       
                    
                          <br/>
                            <br/>
                            <form method="post" action="/updateadmin">
                              <select class="selectpicker" data-style="btn-primary" name="selectpicker">
                                <optgroup label="Select Table">
                                    <option name="" value="0">Select Option</option>
                                    <option name="add" value="a">Add</option>
                                    <option name="block" value="b">Block</option>
                                    <option name="remove" value="r">Remove</option>
                                </optgroup>
                            </select>

                          <br/>     
                          <br/>
                           <button type="submit" class="btn btn-primary" >Submit</button>
                        </form> 
                </div>                
                <div class="col-sm-4">    
                </div>
              </div> 
            </br>
        </br>
    </br>
</div>
</br>
</body>
</html>
