<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
<%- include header.ejs %>
<link rel="stylesheet" href="/css/main.css"> 
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    </style>
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1500px 700px">

    <div class="col-md-3">
         </div>            

    <div class="col-md-6" width="50%" height="50%">
                <h3>Contact Form</h3>
                
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                
                    <input type="submit" onclick="myFunction()" value="Submit">
                  </form>
            </div>  
            <div class="col-md-3">
            </div>            
              
                      
                      
    </body>
    <script>
        function myFunction() {
            alert(" Sent Message !!!!");
        }
        </script>
</html>