<%- include header_employee.ejs %>
<link rel="stylesheet" href="/css/main.css">    

<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 600px">
  <div class="container" >    
    <div class="row">
            <div class="col-sm-3">                </div>
            <div class="col-sm-3"><br/>
</br>
</br>

<form method="post" action="/empcheck"> 
Choose the building:  
<select class="selectpicker" data-style="btn-primary" name="selbuilding" >
  <option name="" value="0">Select Option</option>
  <option name="hp" value="111">Hudson/Perrin(Single)</option>
  <option name="tl" value="222">Traditional Living(Triple)</option>
  <option name="ms" value="333">Modified Suites(Double)</option>
  <option name="ts" value="444">Tower Suites(Double)</option>
</select>
<br/>
      <br/>
      
<button type="submit" class="btn btn-default">Check Availability</button>
</div>
<div class="col-sm-3">
<table class="table table-bordered">
<thead>
<tr>
  <th>Building Name</th>
  <th>Room Number</th>
  <th>Type</th>
  <th>Size</th>
  <th>Price</th>
</tr>
</thead>
<tbody>
<% for(var i=0;i<buildingnamelist.length;i++) {%>
<tr>
  <td><%= buildingnamelist[i] %></td>
  <td><%= builnumberlist[i] %></td>
  <td><%= builtype[i] %></td>
  <td><%= builsize[i] %></td>
  <td><%= builprice[i] %></td>
  <td><button type="submit" onclick="booksuc()" class="btn btn-primary">Book</button></td>
</tr>
<% } %>
</tbody>
</table>     
</div>
</form>
<div class="col-sm-3">

</div>
</div> 
</br>
</br>

</body>
<script>
  function booksuc() {
      alert("Booked Room successfully!");
  }
  </script>