<%- include header_employee.ejs %>
<link rel="stylesheet" href="/css/main.css">    

<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 600px">
</br>
</br>

<div class="container">         
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Building Number</th>
              <th>Room Number</th>
              <th>SID</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <% for(var i=0;i<hisbuildingnum.length;i++) {%>
                  <tr>
                    <td><%= hisbuildingnum[i] %></td>
                    <td><%= hisroomnum[i] %></td>
                    <td><%= hisstuid[i] %></td>
                    <td><button type="submit" onclick="bookcan()" class="btn btn-primary">Cancel</button></td>
                  </tr>
                  <% } %>
          </tbody>
        </table>
      </div>
      
      </body>

      <script>
        function bookcan() {
            alert("Room cancelled successfully!");
        }
        </script>