<%- include header_employee.ejs %>
<html>
    <link rel="stylesheet" href="/css/main.css">
    <body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 600px"></body>
    
    <div class="container">    
            <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                            <br/>   
                            <br/>
                            <br/>   
                            <br/>
                            <form method="post" action="/empsearch">
                              <div class="form-group">
                                <label for="firstname">Enter 919 number:</label>
                                <input type="text" class="form-control" name="nin_number">
                              </br>
                              <button type="submit" class="btn btn-primary">Search</button>
                          </div>
                        </form> 
                          <label> SID: <%= student_nin %></label></br>
                           <label>  Student Name: <%= studentname %></label><br/>
                           <label>  Phone Number: <%= student_phone %></label><br/>
                           <label>  Student Email: <%= student_email %></label>
                           <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Room Number</th>
                                <th>Date</th>
                                <th>Paid</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for(var i=0;i<room_num.length;i++) {%>
                              <tr>
                                <td><%= room_num[i] %></td>
                                <td><%= date[i] %></td>
                                <td><%= amount[i] %></td>
                              </tr>
                              <% } %>
                              </tbody>
                          </table>                             
                </br>
            </br>
        </br>
    </div>
    </br>
    </body>
    </html>
    