<link rel="stylesheet" href="/css/main.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<div class="row"  style="background-color: #fcc65a">
    <div class="col-md-4">
    <img id="logo-main" src="logo.png" width="200" alt="Logo Thing main logo">
    </div>
    <div class="col-md-8">
      <h1><strong>NorthWest Dorms</strong></h1>
    </div>
    </div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/adminmodify">Modify</a></li>
        <li class="active"><a href="/adminrooms">Rooms</a></li>
        <li style="float:right"  class="active"><a href="/">Logout</a></li>
      </ul>
    </div>
</nav>