<div class="row" style="background-color: #fcc65a">
<div class="col-md-4">
<img id="logo-main" src="logo.png" width="200" alt="Logo Thing main logo">
</div>
<div class="col-md-8" >
  <h1><strong>NorthWest Dorms</strong></h1>
</div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/contactus">Contact Us</a></li>
        <li style="float:right"  class="active"><a href="login">Login</a></li>
        <li style="float:right"  class="active"><a href="signup">Signup</a></li>
      </ul>
    </div>
</nav>