<html>
    <head>
        <title>
            North West Dorms
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
    </head>
    <body  style="background-image:url('../yellow2.jpg');">
           <%- include header.ejs %>
            <div class="row">
                <div class="col-md-7">          
                     <%- include slideshow.ejs %> 
                </div>
                <div class="col-md-4">
                    <h4><strong> Living on Northwest Missouri State University </strong></h4>
                    <table class="table table-bordered">
                        <tr>
                          <th>Room and Board</th>
                          <th>FALL</th>
                          <th>FALL & SPRING</th>
                        </tr>
                        <tr>
                          <td>Hudson/Perrin - (Single)</td>
                          <td>$4885.00</td>
                          <td>$9770.00</td>
                        </tr>
                        <tr>
                          <td>Traditional Living - (Triple)</td>
                          <td>$4357.00</td>
                          <td>$8714.00</td>
                        </tr>
                        <tr>
                          <td>Modified Suites - (Double)</td>
                          <td>$4634.00</td>
                          <td>$8768.00</td>
                        </tr>
                        <tr>
                          <td>Tower Suites - (Double)</td>
                          <td>$4611.00</td>
                          <td>$9622.00</td>
                        </tr>
                      </table>
                      
                </div>                
            </div>
    </body>
</html>
