<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
<%- include header.ejs %>
<link rel="stylesheet" href="/css/main.css"> 
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1700px 700px">
<div class="container">

  <form method="post" action="/checklogin">
  
    <div class="col-md-3">
        <img src="login1.png" alt="Avatar" class="avatar">
    </div>
    <div class="col-md-9">
      <div class="container center" height=100px width=500px background-color="powderblue;">
          <div class="form-group">
              
        <label for="uname"><b>Username : </b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <br>
        <div class="form-group">
            
        <label for="psw"><b>Password :</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <br>
        <button type="submit" >Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        
      </div>
  
      <div class="container">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
  
    </div>


  </form>
       
       
       