
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%- include header.ejs %>
<link rel="stylesheet" href="/css/main.css"> 
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1700px 700px">
<div class = "container" >
        <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                      <form method="post" action="/signup">
                        <div class="form-group">
                                <label for="ninnumber">919# :</label><input type="text" class="form-control" id="name" name="nin">
                        </div>
                        <div class="form-group">
                                <label for="lastName">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd" name="password">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirm Password:</label>
                            <input type="password" class="form-control" id="pwd" name="pwd">
                        </div>      
                        <center>
                        <button type="submit" onclick="reg()" class="btn btn-default">Submit</button>
                        </center>
                      </form>
                </div>
                <div class="col-sm-4"></div>
              </div>
    </div>
        
</body>
<script>
        function reg() {
            alert("Registration done!!!");
        }
        </script>