<%- include header_student.ejs %>
<!DOCTYPE html>
<link rel="stylesheet" href="/css/main.css">
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 700px">

</body>

<div class="container" >    
        <div class="row">
                <div class="col-sm-3">                </div>
                <div class="col-sm-3"><br/>   
                        <br/>
                        <br/>   
                        <br/>
                        <form method="post" action="/studentrooms"> 
                            
                        <select class="selectpicker" data-style="btn-primary" name="selbuilding" >
                            <option name="" value="0">Select Option</option>
                            <option name="hp" value="111">Hudson/Perrin(Single)</option>
                            <option name="tl" value="222">Traditional Living(Triple)</option>
                            <option name="ms" value="333">Modified Suites(Double)</option>
                            <option name="ts" value="444">Tower Suites(Double)</option>
                          </select>
                        <br/>
                                <br/>
                                
                            Select Date:
                            <input class="min-today" id="min" type="date" name="date">
                            <br/>
                            <br/>
                        <button type="submit" class="btn btn-default">Check Availability</button>
                </div>
                <div class="col-sm-3">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Building Name</th>
                            <th>Room Number</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i=0;i<buildingnamelist.length;i++) {%>
                          <tr>
                            <td><%= buildingnamelist[i] %></td>
                            <td><%= builnumberlist[i] %></td>
                            <td><%= builtype[i] %></td>
                            <td><%= builsize[i] %></td>
                            <td><%= builprice[i] %></td>
                            <td><button type="submit" onclick="bookrooms()" class="btn btn-primary">Book</button></td>
                          </tr>
                          <% } %>
                          </tbody>
                      </table>     
                </div>
            </form>
                <div class="col-sm-3">
                   
                </div>
              </div> 
            </br>
        </br>
    </br>
</br>
</br>
                         
 <script>
   $(function(){
    $('[type="date"].min-today').prop('min', function(){
        return new Date().toJSON().split('T')[0];
    });
});

function bookrooms() {
    alert("You have booked rooms successfully!!");
}

   </script>

</body>
</html>
