    
<%- include header_student.ejs %>
<link rel="stylesheet" href="/css/main.css"> 
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1700px 700px">
<div class = "container">
        <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        
                      <form action="/action_page.php">
                        <div class="form-group">
                          <label for="firstname">Name:</label>
                          <label><%= studentname %> </label>
                        </div>
                        <div class="form-group">
                                <label for="email">Email:</label>
                                <label> <%= student_email %></label>
                        </div>
                        <div class="form-group">
                                <label for="phone">Phone:</label>
                                <label ><%= student_phone %></label>

                        </div>
                      </form>
                </div>
                <div class="col-sm-4"></div>
              </div>
        
    </div>
        
</body>