<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
<%- include header_student.ejs %>
<body>
</br>
</br>
<link rel="stylesheet" href="/css/main.css">
<body style="background-image: url('../yellow2.jpg'); background-repeat: repeat-y;background-size: 1600px 700px">
  
<div class="container">         

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Room Number</th>
              <th>Date</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<room_num.length;i++) {%>
            <tr>
              <td><%= room_num[i] %></td>
              <td><%= date[i] %></td>
              <td><%= amount[i] %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
      </div>
      
      </body>
     
      