.logoimage{
	background-image:url("logo.png");
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 60%;
    margin-left: 30px;
    height: 48%; /* Should be removed. Only for demonstration */
}

.carousel {
    float: left;
    width: 100%;
    padding: 2px;
    height: 300px;  
}

.column2 {
    float: right;
    width: 27%;
    padding: 30px;
    margin-right: 30px;
    margin-top:20px;
    height: 300px; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000 g;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}
